html {
  height: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('../img/workspace.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-list {
  border: none;
  color: #2980b9;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.find {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  padding: 10px;
  border-radius: 25px;
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.find > input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #bdc3c7;
}



.main-list {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 10px;
  border-radius: 25px;
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}


.add-task {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
}

.add-task > input {
  margin: 5px;
}

.add-task button {
  margin-left: 10px;
  color: #2980b9;
  font-size: 20px;
  border: 1px solid #2980b9;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #2980b9;
  color: #ecf0f1;
}

.item-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.task{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task > p {
  padding: 5px;
  font-size: 18px;
  margin: 5px;
  color: #2c3e50;
}

.task-list {
  max-height: 500px;
  overflow-y: scroll;
}

@media screen and (min-height: 300px){
  .task-list {
    max-height: 200px;
    overflow-y: scroll;
  }
}

@media screen and (min-height: 700px){
  .task-list {
    max-height: 500px;
    overflow-y: scroll;
  }
}


.task-list > p {
  text-align: center;
  font-size: 18px;
  color: #95a5a6;
}

.achieved > p{
  color: #bdc3c7;
}

.list-title {
  text-align: center;
  color: #2980b9;
  text-transform: uppercase;
}

.options {
  display: flex;
  flex-direction: row;
}

.del-task, .modify-task {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-image: url('../img/trash-alt-solid.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.modify-task {
  background-image: url('../img/pencil-alt-solid.svg');
}

.del-task:hover, .modify-task:hover {
  transform: scale(1.2);
}

.task-not-complite {
  width: 18px;
  height: 18px;
  border: 2px solid #2c3e50;
  border-radius: 50%;
}
.task-complite {
  width: 18px;
  height: 18px;
  border: 2px solid #bdc3c7;
  border-radius: 50%;
  background-color: #bdc3c7;
}

.no-started, .started, .finished, .late{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #e67e22;
}

.started {
  color: #27ae60;
}

.finished {
  color: #bdc3c7;
}

.late {
  color: #c0392b;
}

.no-started::before, .started::before, .finished::before, .late::before {
  content: "";
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  padding-right: 5px;
  background-image: url('../img/stopwatch-solid.svg');
  background-repeat: no-repeat;
}
.started::before {
  background-image: url('../img/hourglass-half-solid.svg');
}
.finished::before {
  background-image: url('../img/check-solid.svg');
}
.late::before {
  background-image: url('../img/exclamation-triangle-solid.svg');
  margin-right: 5px;
}

.modify-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 25px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.modify-menu > p {
  display:block;
  text-align: center;
  font-size: 20px;
  color: #2c3e50;
  text-transform: uppercase;
}

.quit-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('../img/times-solid.svg');
  background-repeat: no-repeat;
}

.quit-menu:hover {
  transform: scale(1.2);
}

.modify-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modify-content > p {
  margin: 0;
  color: #34495e;
}

.modify-content > input, .modify-content > button {
  margin: 10px;
}

.modify-content > button {
  color: #2c3e50;
  cursor: pointer;
  border: 1px solid #2c3e50;
  padding: 10px;
  border-radius: 5px;
}
